@import url(./fonte.css);

:root{
    --cor-principal: #700709;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #181A1B;
    --fonte-principal: 'Principal';
}

body{
    background: var(--cor-terciaria);
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-size: 16px;
}

header{
    background: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    width: 130px;
    
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    
    list-style: none;
}

header nav ul a{
    color: #f6f6f6;
    text-decoration: none;
}

header nav ul a:hover{
    background-color: #313435;
    border-radius: 1rem;
    padding: .2rem;
}

header .barra-pesquisa{
    background: var(--cor-secundaria) url(../assets/—Pngtree—vector\ search\ icon_3783210.png) no-repeat;
    background-position: 10rem;
    background-size: 20px;
    border: none;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.banner{
    width: 100vw;
    height: 23vh;
    background: url(../assets/background.png) no-repeat center;
    background-size: cover;
}

.visao-geral{
    padding: .5rem;
    text-align: center;
}

.visao-geral__videos{
    display: flex;
    column-gap: 1rem;
    overflow: scroll;  
}

.visao-geral__videos iframe{
    border-radius: 1rem;
}

.historia{
    margin-top: 3rem;
    height: 80vh;
    background: url(../assets/banner-secundario.jpg) no-repeat -150px;
    background-size: cover;
}

.historia .historia__textos{
    padding: 3rem 4rem;
    text-shadow: 2px 2px 5px var(--cor-terciaria);
}

.historia .historia__subtitulo{
    display: inline;
    background-color: var(--cor-principal);
    font-size: 12px;
    font-weight: 100;
    padding: .3rem;
    
}

.historia .historia__titulo{
    text-transform: uppercase;
}

.destaques{
    margin-top: 3rem;
    text-align: center;
    padding: 1rem;
}

.destaques__titulo{
    text-transform: uppercase;
}

.destaques__carrossel{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    overflow: scroll;
   
}

.destaques__imagens{
    width: 300px;
    height: 200px;
    border-radius: .5rem;   
}

.destaques__imagens:hover{
    transform: scale(1.1);
}

@media (min-width: 768px){
    .banner{
        height: 50vh;
    }

    .historia{
        background-position: center;
    }

    .historia .historia__textos{
        padding: 5.5rem 4rem;
    }
}

@media (min-width: 1280px){

    header{
        flex-direction: row;
        justify-content: space-around;
    }

    .banner{
        height: 60vh;
    }

    .historia .historia__textos{    
        padding: 5rem;
    }

    .historia .historia__subtitulo{
        font-size: 1.5rem;
    }

    .historia__titulo{
        font-size: 3rem;
    }

    .historia p{
        font-size: 1.5rem;
    }

    .destaques{
        font-size: 1.5rem;
    }
}